body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  background-color: #dadada;
  margin: 0 auto;
  width:75%;
  height:925px;
}

.baku {
  background: #fff url(../images/baku.jpg) no-repeat top center;
}

.london {
  background: #fff url(../images/london.png) no-repeat top center;
}

.madrid {
  background: #fff url(../images/madrid.jpg) no-repeat top center;
}

.rome {
  background: #fff url(../images/rome.jpg) no-repeat top center;
}

.preview {
  background-size:cover;
  float: left;
  margin-bottom: 15px;
  height: 25%;
  width: 100%;
}

h1 {
    font-size: 200%; /* 20px */
    font-weight: 500;
    text-transform: capitalize;
    padding: 25px;
    text-align: center;
}

.preview h1 {
  text-align: left;
}

.emphasis {
    font-family: sans-serif;
    font-size: 60%; /* 12px */
    font-weight: 400;
    text-transform:uppercase;
    letter-spacing: 2px;
}

@media screen and (min-width: 575px){
   .preview {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
   .preview {
    margin: 1%;
    width: 23%;
  }
}
