body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  background-color: #dadada;
  margin: 0 auto;
  width:75%;
  height:925px;
}

div {
  float: left;
  margin-bottom: 15px;
  height: 25%;
  width: 100%;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }

@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 23%;
    }›
}

.preview-baku {
  background: #fff url(../images/baku.jpg) no-repeat top center;
  background-size:cover;
}

.preview-london {
  background: #fff url(../images/london.png) no-repeat top center;
  background-size:cover;
}

.preview-madrid {
  background: #fff url(../images/madrid.jpg) no-repeat top center;
  background-size:cover;
}

.preview-rome {
  background: #fff url(../images/rome.jpg) no-repeat top center;
  background-size:cover;
}

h1 {
    font-size: 200%; /* 20px */
    font-weight: 500;
    text-transform: capitalize;
    padding: 25px;
}

.emphasis {
    font-family: sans-serif;
    font-size: 60%; /* 12px */
    font-weight: 400;
    text-transform:uppercase;
    letter-spacing: 2px
}
